<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <form class="example-form" [formGroup]="formRegister" >
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="email@email.com" formControlName="email"
                        autocomplete="false" >
                    <mat-error *ngIf="email.touched && email.hasError('required')">Email is Required</mat-error>
                    <mat-error *ngIf="email.touched && email.hasError('email')">Email Must Be Valid</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="password.touched && password.hasError('required')">Password Is Required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Conform Password</mat-label>
                    <input matInput type="password"  formControlName="conformPassword"
                        value="password">
                    <mat-error *ngIf="conformPassword.touched && conformPassword.hasError('required')">Conformation
                        Password Is Required</mat-error>
                    <!-- <mat-error *ngIf="form.hasError('passwordsNotMatching')">Passwords Not Matching</mat-error> -->
                    <mat-hint *ngIf="!formRegister.valid"><small>Please fill out all needed information</small></mat-hint>
                </mat-form-field>
                <div class="button"> 
                    <button mat-raised-button type="submit" color="primary" class="submit-btn" [disabled]="!formRegister.valid" (click)="register()"> Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
